<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Addon Popup</title>
  <link rel="stylesheet" href="/css/addonpopup.css">
</head>
<body>

  <button
    type="button"
    data-name="Milk Tea"
    onclick="openAddonPopup(this)"
  >
    Open Popup
  </button>

  <div class="overlay" id="popupOverlay"></div>

  <div class="popup" id="addonPopup">
    <h2 id="popupDrinkName">Customize Drink</h2>

    <form id="addonForm">
      <div id="addonOptions"></div>

      <div class="popup-buttons">
        <button type="button" id="cancelPopupBtn" class="close-btn">Cancel</button>
        <button type="submit">Add to Cart</button>
      </div>
    </form>
  </div>

  <script src="/js/addonpopup.js"></script>
  <script src="/js/translate.js"></script>
</body>
</html>
