<!DOCTYPE html>
<head>
   <title>Customer Home Page</title>
   <link rel="stylesheet" href="css/customerlogin.css">
   <script src="js/weather.js"></script>
</head>
<body>
   <div class = "logo-and-weather">
      <div class="body">
      </div>
      
      <img class="logohome" src="images/happy_tapi.png" alt="Happy tapioca, boba and other tapiocaloca refreshers">
      <div class="widget">
         <div class="location">
            College Station, TX
         </div>
         <div class="temp" id="weather">
            --°F
         </div>
      </div>
   </div>

   <a href="/order">
      <button class="order-btn">Place Order</button>
   </a>

</body>
