<!DOCTYPE html>
<head>
   <title>Customer Home Page</title>
   <link rel="stylesheet" href="css/customerlogin.css">
</head>
<body>
   <img class="logohome" src="images/happy_tapi.png" alt="Happy tapioca, boba and other tapiocaloca refreshers">
   <a href="/order">
      <button class="order-btn">Place Order</button>
   </a>

</body>
