table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #ececec;
}

th, td {
  padding: 10px;
}

table {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;
}