table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body {
  background-color: #edffe2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr:nth-child(even) {
  background-color: #ececec;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
.back {
  border: none;
  background: #4ea2f5;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 10px;
}

table{
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

th {
  background: #4ea2f5;
  color: white;
}

table {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.edit, .add{
  width: 40%;
  height: auto;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  text-align: left;
  padding: 0 30px 30px;
  color: #333;
  border: 1px solid #333;
}



h2 {
  text-align: center;
}

label {
  width: 200px;
  display: inline-block;
}

.button-group {
    display: flex;
    justify-content: center; 
    gap: 10px;  
    margin-top: 20px;     
    width: 100%; 
}

tr:has(td):hover{
  filter: brightness(85%);
}