<!DOCTYPE html>
<head>
   <title>Team Members</title>
</head>
<body>
   <h1>Team Members</h1>

   <% teammembers.forEach(member => { %>
       <p>
         Name: <%= member.student_name %>,
         Section: <%= member.section %>,
         Favorite Movie: <%= member.favorite_movie %>
       </p>
   <% }) %>
</body>